[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notebook = "*"
numpy = "*"
matplotlib = "*"
pillow = "*"
scipy = "*"
opencv-python = "*"

[dev-packages]
pytest = "*"
ruff = "*"
ipykernel = "*"

[requires]
python_version = "3.13"
